@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-10px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(10px, 0, 0);
  }
}






body{
	font-family: 'Open Sans', sans-serif;
	/*font-family: "Helvetica Neue";*/
  background-color: white;
  margin: 0;
}


.image {
	display: inline-block;
  width:200px;
  height:200px;
  animation: spin 10s linear infinite;
  -webkit-animation: spin 10s linear infinite;
   -webkit-animation-play-state: paused; 
  animation-play-state: paused; 
}

.image:hover {
	  -webkit-animation-play-state: running;
  animation-play-state: running;
}


@keyframes spin {
  100% {transform: rotate(1turn); }
}
@-webkit-keyframes spin{
    100% {-webkit-transform:: rotate(1turn); }
}

path{
	
	animation: dash 10s linear alternate infinite;
	/*animation-play-state: paused; */
	stroke-dasharray: 500;
  	stroke-dashoffset: 500;

}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
#autoText{
	margin-top: 15vh;
	text-align: center;
}
#name{
  font-size: 40px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  /*font-family: "Helvetica Neue";*/
  position: absolute;
  z-index: 10;
 width: auto;
 text-align: center;
  top:40%;
  left:42%;

}
small{
	color:white;
	font-weight: 200;
	font-size: 12px;
}
.small_name{
color:#99b9f5;
cursor: auto;

	font-weight: 200;
font-size: 12px;
}
.txt-rotate{
	font-size: 20px;
font-family: 'Press Start 2P', cursive;

}
#mountain_container{
		    text-align: center;
padding-top:7vh;
height:43vh !important;
}
#pathBox{
	padding-top: 35%;
	padding-left: 30%
}
#wave_container{
	padding-top: 5vh;
	height: 45vh !important;
	float:right;
	background-color: #cce3f1;
}
#wave_description{
	display: none;
	padding:10vh 10%;
	width:30%;
	height:30vh !important;
	float:right;
	background-color: #cce3f1;
}

#mountain_container{
	float:left;
	background-color: #b3d0ef;
}

#it_container{ 
	float:right;
	background-color:#d2ebe0
	/*background-color: #d6f5ec;*/
}
#it_description{
	float:right;
		display: none;
	background-color: #d2ebe0;
	padding:10vh 10%;
	width:30%;
	height:30vh !important;
}

#design_container{
	background-color: #f3d1d1;
padding-top:10vh;
height:40vh !important;
	    text-align: center;
	float:left;
}
#gory{
  width:350px;
}
#gory:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.box{
  width:100%;
  height:100vh;
}
.container{
	cursor: pointer;
  height:50vh;
  width: 50%;
}

h2{
	color: white;
	margin:0;
}
.description{
	text-align: left;
	  font-weight: 200;
	      letter-spacing: 1px;
	color: white;
	
}
#mountain_description{float:left;
		display: none;
	background-color: #b3d0ef;
	padding:10vh 10%;
	width:30%;
	height:30vh !important;
}
#design_description{
	float:left;
		display: none;
	background-color: #f3d1d1;
	padding:10vh 10%;
	width:30%;
	height:30vh !important;
}
.icon{
	cursor: pointer;
	width: 10px;
}
.icon_biger{
	width: 15px;
}
small{
cursor: pointer;
	    vertical-align: top;
}
.mt0{
	margin-top: 0 !important;
}
.mb0{
	margin-bottom: 0 !important;
}