@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-10px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(10px, 0, 0);
  }
}






body{
  background-color: white;
  margin: 0;
}


.image {
  width:250px;
  height:250px;
  animation: spin 10s linear infinite;
  animation-play-state: paused; 
}

.image:hover {
  animation-play-state: running;
}


@keyframes spin {
  100% {transform: rotate(1turn); }
}
@-webkit-keyframes spin{
    100% {transform: rotate(1turn); }}
@-moz-keyframes spin{
    100% {transform: rotate(1turn); }}

path{
	
	animation: dash 10s linear alternate infinite;
	/*animation-play-state: paused; */
	stroke-dasharray: 500;
  	stroke-dashoffset: 500;

}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
#autoText{
	margin-top: 15vh;
	text-align: center;
}
#name{
  font-size: 40px;
  font-weight: bold;
  font-family: "Helvetica Neue";
  position: absolute;
  z-index: 10;
 width: 100%;
 text-align: center;
  top:40%;
}

.txt-rotate{
	font-size: 20px;
font-family: 'Press Start 2P', cursive;

}
#mountain_container{
		    text-align: center;
padding-top:5vh;
height:45vh !important;
}
#pathBox{
	padding-top: 35%;
	padding-left: 30%
}
#wave_container{
	padding-top: 5vh;
	height: 45vh !important;
	float:right;
	background-color: #cce3f1;
}
#wave_container:hover {
	
	/*background-color: #85c1bc;*/
}
#mountain_container{
	float:left;
	background-color: #b3d0ef;
}

#it_container{ 
	float:right;
	background-color: #d6f5ec;
}

#design_container{
	background-color: #f3d1d1;
padding-top:10vh;
height:40vh !important;
	    text-align: center;
	float:left;
}
#gory{
  width:400px;
}
#gory:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.box{
  width:100%;
  height:100vh;
}
.container{
	cursor: pointer;
  height:50vh;
  width: 50%;
}

h2{
	color: white;
	margin:0;
}